<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Order</title>
</head>

<body>
    <h1>Check your order below</h1>
    <form action="/search" method="POST">
        <table>
            <tr>
                <td>Order ID:</td>
                <td>
                    <input type="text" th:name="id" required>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Search</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>